<h1>Employee Dashboard</h1>
<div *ngIf="this.employeeFetchError">this.employeeFetchError</div>

<h2 *ngIf="this.checkedMessage">{{this.checkedMessage}}</h2>
<button mat-raised-button [disabled]="this.employeeFetchError"
  (click)="checkedInOut()">{{checkedInOutButtonText}}</button>

<br><br>
<table *ngIf="this.workTimes.length > 0;else noDataTemplate">
  <tr>
    <th> No. </th>
    <th> Date </th>
    <th> Work Time </th>
  </tr>
  <tr *ngFor="let work of this.workTimes;index as i">
    <td>{{i+1}}</td>
    <td>{{this.firstDay+(i*24*60*60*1000) | date}}</td>
    <td>{{work}}</td>
  </tr>
</table>
<ng-template #noDataTemplate>
  <table>
    <tr>
      <th> No. </th>
      <th> Date </th>
      <th> Work Time </th>
    </tr>
    <tr>
      <td>00</td>
      <td>No data</td>
      <td>No data</td>
    </tr>
  </table>
</ng-template>